/*chart wrapper*/
.chart-wrapper{

}

/*Chart title css*/
.chart-title{

}
/*resource-type-row-chart*/
#resource-type-row-chart{

}
/*funding-chart*/
#funding-chart{

}
/*poverty-level-row-chart*/
#poverty-level-row-chart{

}
/*Total Number of Donations chart*/
#number-projects-nd {
    font-size: 60px;
    background-color: #428bca;
    color: white;
    border: solid black 2px;
    margin: 5px 5px;
}
/*Total donations in USD chart*/
#total-donations-nd {
    font-size: 60px;
    background-color: #428bca;
    color: white;
    border: solid black 2px;
    margin: 5px 5px;
}

.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}

#total-projects {
    background: #33CC99;
    width: 200px;
    position: relative;
    height: 60px;
    font-size: 29px;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 0px;
}

#net-donations {
    background: #33CC99;
    width: 200px;
    position: relative;
    height: 60px;
    font-size: 29px;
    color: black;
    vertical-align: middle;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 0px;

}
/*Donation State drop-down*/
.dc-select-menu {
    background: #33CC99;
    width: 80%;
    border: none;
    position: relative;
    height: 31px;
    font-size: 15px;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 0px;

}