body {
   margin: 0;
   padding: 0;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   color: #444;
}
/* Create dark grey header with a white logo */
header {
   background-color: #2a6496;
   height: 50px;
   width: 100%;
   opacity: .9;
   margin-bottom: 10px;
}
header h1.logo {
   margin: 0;
   font-size: 1.7em;
   line-height: 50px;
   text-align: center;
   color: #E0E0E0;
   text-transform: uppercase;
}
/*
* Navigation
*/
#NevadaOne{
   display: flex;
   font-size: 20px;
}
#NevadaOne li a:hover{
   color: #FF3333;
}

/* Center the body content */
.container {
   width: 940px;
   margin: 0 auto;
   display: flex;
}
div.jumbo {
   padding: 10px 0 30px 0;
   background-color: #eeeeee;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
}
h2 {
   font-size: 3em;
   margin-top: 40px;
   text-align: center;
   letter-spacing: -2px;
}
h3 {
   font-size: 1.7em;
   font-weight: 100;
   margin-top: 30px;
   text-align: center;
   letter-spacing: -1px;
   color: #999;
}
footer{
   height: 200px;
   margin: 0 auto;
   margin-top: 10px;
   width: 100%;
   display: flex;
   background-color: #2a6496;
}