body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
}

/* Create dark grey header with a white logo */
header {
    background-color: #2a6496;
    height: 50px;
    margin: 0 auto;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
}

header h1.logo {
    text-align: center;
    font-size: 1.5em;
    color: #E0E0E0;
    text-transform: uppercase;
}

/* Navigation */
#NevadaOne {
    font-size: 20px;
}

#NevadaOne li a:hover {
    color: #FF3333;
    transition: all .3s ease;
}

/* Center the body content */
.container {
    width: 940px;
    margin: 0 auto;
}

h2 {
    font-size: 3em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
}

h3 {
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    color: #999;
}

/*Home page*/
.well {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #285e8e;
    font-size: 20px;
}

.state {
    background-color: #2a6496;
    color: white;
    margin: 0 auto;
    width: 940px;
    border-radius: 10px;
}

.stateP {
    font-size: 15px;
    padding: 10px;
}

.stateLi {
    color: #4cae4c;
    font-size: 15px;
}

.stateLi li{
    text-align: left;
    font-size: 1.2em;
}

img {
    cursor: pointer;
}

.img-thumbnail:hover {
    transform: scale(.5);
}

.img-thumbnail:hover {
    transition: transform .25s ease;
}

/*About page*/
.img-circle:hover {
    transform: scale(.5);
}

.img-circle:hover {
    transition: transform .25s ease;
}

/*adds colour to h3 font when called by jquery*/
.h3_color {
    color: #ac2925;
}

/*increases font-size of h3 when called by jquery*/
.h3_font_size {
    font-size: 3em;
}

/*Hides pressText info on load of page*/
.pressText {
    display: none;
}

.pressText {
    border: 2px solid black;
    background-color: #2a6496;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px;
}

/*Issues page*/

.education {
    background-color: #2a6496;
    opacity: 0.8;
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
}

.ed {
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
}

.edPara {
    color: white;
}

.chart-wrapper{
    background-color: #ac2925;
    border-radius: 10px;
    text-align: center;
    color: #E0E0E0;
    font-size: 1.5em;
}

.chart{
    margin-bottom: 20px;
}

/*Contact page*/
fieldset {
    margin: 0 auto;
    border: 1px solid #999;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 100px;
    background-color: #E0E0E0;
}

legend {
    background-color: #2a6496;
    border-radius: 5px;
    border: 1px solid #999;
    padding: 4px 15px;
    text-align: center;
}

.field {
    padding: 6px 8px;
}

:focus {
    background-color: #FFECE9;
}

/*Footer main css*/
footer {
    height: 200px;
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    margin-top: 10px;
    width: 100%;
    background-color: #2a6496;
}

/*Footer address*/
address {
    display: block;
    font-style: italic;
    color: white;
}

.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #E0E0E0;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.footer ul {
    font-size: 13px;
    list-style-type: none;
    text-align: center;
    margin-top: 10px;
    color: #7F8C8D;
}

.footer a {
    color: #78828D
}

/*Social buttons*/
.social li {
    background: none repeat scroll 0 0 #B5B5B5;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}

.social li a {
    color: #EDEFF1;
}

.social li:hover {
    border: 2px solid #2c3e50;
    background: #2c3e50;
}

.social li a i {
    font-size: 16px;
    margin: 0 0 0 5px;
    color: #EDEFF1;
}

/* Large desktops and laptops css specific properties col-lg-*/
@media (min-width: 1200px) {

    .landmarkDiv {
        height: 600px;
    }

    .jumbotron {
        margin-top: 160px;
    }

    .stateAbout {
        margin-top: 160px;
    }

    .aboutMe {
        height: 700px;
    }

    .education {
        margin-top: 160px;
    }

    .application {
        height: 1000px;
    }

    #contactDiv {
        height: 900px;
    }

}

/* Landscape tablets and medium desktops css specific properties col-md-*/
@media (min-width: 992px) and (max-width: 1199px) {

    .landmarkDiv {
        height: 600px;
    }

    .jumbotron {
        margin-top: 160px;
    }

    .stateAbout {
        margin-top: 160px;
    }

    .aboutMe {
        height: 1200px;
    }

    .education {
        margin-top: 160px;
    }

    .application{
        height: 1050px;
    }

    #contactDiv {
        margin-top: 160px;
        height: 1000px;
    }
}

/* Portrait tablets and small desktops css specific properties col-sm-*/
@media (min-width: 768px) and (max-width: 991px) {

    .container {
        width: 100%;
        margin: 0 auto;
    }

    .well {
        width: 100%;
        margin: 0 auto;
    }

    /* Home page */
    .landmarkDiv {
        height: 600px;
    }

    .jumbotron {
        margin-top: 160px;
    }

    .state{
        width: 100%;
        margin: 0 auto;
    }

    .stateAbout {
        margin-top: 160px;
        width: 100%;
    }

    /* About page */
    .aboutMe {
        height: 600px;
    }

    .img-circle {
        margin-bottom: 10px;
    }

    .img-thumbnail {
        margin-bottom: 10px;
    }

    .education {
        margin-top: 160px;
    }

    .application {
        height: 1100px;
    }

    /* Contact page */
    #contactDiv {
        margin-top: 160px;
        height: 1000px;
    }
}

/* Landscape phones and portrait tablets css specific properties col-xs */
@media (max-width: 767px) {

    /* Hidden nav-brand logo for mobiles */
    #nevadaBrand {
        display: none;
    }

    /* Header */
    header {
        height: 80px;
        margin: 0 auto;
    }

    /* Navigation */
    nav ul {
        text-align: center;
    }

    nav ul li {
        text-align: center;
    }

    .navbar-toggle .icon-bar {
        background-color: #ac2925;
    }

    .container {
        width: 100%;
        margin: 0 auto;
    }

    /* Home page */
    .landmarkDiv {
        height: 2000px;
    }

    .well {
        width: 100%;
        margin: 0 auto;
    }

    /* About page */
    .aboutMe {
        height: 1960px;
    }

    .state{
        width: 100%;
        margin: 0 auto;
    }

    .stateAbout {
        width: 100%;
        margin: 0 auto;
    }

    /* Issues page */
    .application {
        height: 1800px;
    }

    /* Contact page */
    #contactDiv {
        height: 1160px;
    }

    #contactDiv {
        width: 100%;
        margin: 0 auto;
    }

    #contact {
        width: 100%;
        margin: 0 auto;
    }

    /* Images 100% on mobiles */
    .img-thumbnail {
        width: 100%;
        margin: 10px;
    }

    .img-circle {
        width: 100%;
        margin: 10px;
    }

    /* Decrease font-size for footer information*/
    footer {
        font-size: 10px;
        height: 160px;
    }

    /* Decrease sizing of elements inside footer div*/
    .footer h3 {
        font-size: 12px;
    }

    .social li a i {
        font-size: 10px;
    }

    .social li {
        height: 30px;
        width: 30px;
        line-height: 30px;
    }

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    /*Setup for mobile first response*/
    /* Increase height background for header information*/
    header {
        height: 80px;
        margin: 0 auto;
    }

    /* Hidden nav-brand logo for mobiles */
    #nevadaBrand {
        display: none;
    }

    /* Navigation */
    nav ul {
        text-align: center;
    }

    nav ul li {
        text-align: center;
    }

    .navbar-toggle .icon-bar {
        background-color: #ac2925;
    }

    .container {
        width: 100%;
        margin: 0 auto;
    }

    .well {
        width: 100%;
        margin: 0 auto;
    }

    /* Home page */
    .landmarkDiv {
        height: 1500px;
    }

    /* Images 100% on mobiles */
    .img-thumbnail {
        width: 100%;
        margin-bottom: 10px;
    }

    .img-circle {
        width: 100%;
        margin-bottom: 10px;
    }

    /* About page */
    .aboutMe {
        height: 1400px;
    }

    .stateAbout {
        width: 100%;
        margin: 0 auto;
    }

    /* Issues page */
    .application {
        height: 1600px;
    }

    /* Contact page */
    #contactDiv {
        height: 1200px;
    }

    #contactDiv {
        width: 100%;
        margin: 0 auto;
    }

    #contact {
        width: 100%;
        margin: 0 auto;
    }

    /* Decrease font-size for footer information*/
    footer {
        font-size: 10px;
        height: 160px;
    }

    /* Decrease sizing of elements inside footer div*/
    .footer h3 {
        font-size: 12px;
    }

    .social li a i {
        font-size: 10px;
    }

    .social li {
        height: 20px;
        width: 20px;
        line-height: 18px;
    }
}