{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="stateAbout state">
                <p class="stateP">In the United States, a governor serves as the chief executive officer and
                    commander-in-chief
                    in each of the
                    fifty states and in the five permanently inhabited territories, functioning as both head of state
                    and head
                    of
                    government therein. As such, governors are responsible for implementing state laws and overseeing
                    the
                    operation of the state executive branch. As state leaders, governors advance and pursue new and
                    revised
                    policies
                    and programs using a variety of tools, among them executive orders, executive budgets, and
                    legislative
                    proposals
                    and vetoes. Governors carry out their management and leadership responsibilities and objectives with
                    the
                    support
                    and assistance of department and agency heads, many of whom they are empowered to appoint. A
                    majority of
                    governors have the authority to appoint state court judges as well, in most cases from a list of
                    names
                    submitted
                    by a nominations committee</p></div>
        </div>
    </div>

    <div class="container-fluid aboutMe">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 gov">
                <img src="static/images/gov1.jpeg" alt="Image of me" class="img-circle img-responsive" height="240" width="300">
                <h3 class="h_line h3_color h3_font_size" id="h_climate">Climate Change Event</h3>
                <button type="button" class="btn btn-info btn-md btn-block" id="press_effect1">Press Me</button>
                <p class="pressText" id="pressText1">Coming soon!</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 gov">
                <img src="static/images/gov2.jpeg" alt="Image of me" class="img-circle img-responsive" height="240" width="300">
                <h3 class="h_line h3_color h3_font_size" id="h_electric">Electric Car Event</h3>
                <button type="button" class="btn btn-info btn-md btn-block" id="press_effect2">Press Me</button>
                <p class="pressText" id="pressText2">Coming soon!</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 gov">
                <img src="static/images/gov3.jpeg" alt="Image of me" class="img-circle img-responsive" height="240" width="300">
                <h3 class="h_line h3_color h3_font_size" id="h_education">Education Funding Event</h3>
                <button type="button" class="btn btn-info btn-md btn-block" id="press_effect3">Press Me</button>
                <p class="pressText" id="pressText3">My main focus in this campaign is state funding for education,
                    please see my education page for further details</p>
            </div>
        </div>
    </div>


{% endblock %}