{% extends "layout.html" %}
{% block content %}
    <p>In the United States, a governor serves as the chief executive officer and commander-in-chief in each of the
        fifty states and in the five permanently inhabited territories, functioning as both head of state and head of
        government therein. As such, governors are responsible for implementing state laws and overseeing the
        operation of the state executive branch. As state leaders, governors advance and pursue new and revised policies
        and programs using a variety of tools, among them executive orders, executive budgets, and legislative proposals
        and vetoes. Governors carry out their management and leadership responsibilities and objectives with the support
        and assistance of department and agency heads, many of whom they are empowered to appoint. A majority of
        governors have the authority to appoint state court judges as well, in most cases from a list of names submitted
        by a nominations committee</p>
    <div class="container aboutMe">
        <div class="row">
            <div class="col-lg-4 gov">
                <img src="static/images/gov1.jpeg" alt="Image of me" class="img-circle" height="240" width="300">
                <h3 class="h_line h3_color h3_font_size" id="h_climate">Climate Change Event</h3>
                <button type="button" class="btn btn-info btn-md btn-block" id="press_effect1">Press Me</button>
                <p class="pressText" id="pressText1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi deleniti eius est
                    laudantium quia
                    temporibus voluptatem. Consectetur cumque error nisi officiis omnis porro rerum saepe sint sunt
                    tenetur, voluptatibus voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
                    blanditiis consequuntur debitis delectus dolore, dolores earum, enim excepturi explicabo, facere
                    incidunt ipsa ipsum nisi quia quis repudiandae similique sit soluta.</p>
            </div>
            <div class="col-lg-4 gov">
                <img src="static/images/gov2.jpeg" alt="Image of me" class="img-circle" height="240" width="300">
                <h3 class="h_line h3_color h3_font_size" id="h_electric">Electric Car Event</h3>
                <button type="button" class="btn btn-info btn-md btn-block" id="press_effect2">Press Me</button>
                <p class="pressText" id="pressText2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi at atque
                    cum deserunt dolorem
                    eius et explicabo in, inventore ipsum libero molestias, necessitatibus nemo officia, optio
                    perferendis veniam voluptas?</p>
            </div>
            <div class="col-lg-4 gov">
                <img src="static/images/gov3.jpeg" alt="Image of me" class="img-circle" height="240" width="300">
                <h3 class="h_line h3_color h3_font_size" id="h_education">Education Funding Event</h3>
                <button type="button" class="btn btn-info btn-md btn-block" id="press_effect3">Press Me</button>
                <p class="pressText" id="pressText3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A debitis eum maxime
                    sequi? Ad assumenda
                    cum dicta dolor esse eveniet id impedit, ipsa minus molestias nesciunt quaerat reiciendis saepe
                    soluta? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, blanditiis cupiditate
                    dolor dolores eaque earum eius error fugiat libero maxime numquam officia perspiciatis placeat quae
                    quos rem sed sit totam!</p>
            </div>
        </div>
    </div>

{% endblock %}