{% extends "layout.html" %}
{% block content %}
    <h2>Reach out to us and we'll be back in touch shortly.</h2><br>
    <form id="contact">
        <form class="form-inline">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" placeholder="Enter first name">
            </div>
            <form class="form-inline">
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Enter last name">
                </div>
                <div class="form-group">
                    <label for="Email">Email address</label>
                    <input type="email" class="form-control" id="Email" placeholder="Enter Email">
                </div>
                <textarea class="form-control" rows="3" placeholder="Enter information"></textarea><br>
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </form>
        </form>

{% endblock %}