{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="education">
                <h2 class="ed">Poor state funding for education</h2>
                <p class="edPara">School did not always come easy to William, but thanks to the perseverance of his
                    mother,
                    and
                    the dedication
                    of his teachers, they finally named the problem – dyslexia. His dyslexia led him on a unique
                    educational
                    journey, one of self-pace and self-discovery. It’s what he needed to help him learn and it’s shaped
                    his
                    thinking today: William believes that every student in Nevada deserves the same opportunity to
                    achieve
                    success.

                    As Governor, William is calling for the Nevada Promise, a new way of thinking about education as a
                    lifelong
                    pursuit. He believes that our role begins when babies are still in the womb and it doesn’t end until
                    we’ve
                    done all we can to prepare them for a quality job and successful career.</p>
                <p class="edPara">The state of Nevada has a large problem which the current administration has not
                    appeared
                    to
                    resolve, The
                    education level of this beautiful state is in dire straits.
                    As you can see from data acquired by the donorsUSA panel, Nevada is very much in the lower half of
                    this
                    great country and it is in my opinion its due to the education failure of our schools that must be
                    addressed.
                </p>
                <p class="edPara">Please feel free to select the <i>Donation State</i> and counties surrounding our
                    landlocked state (for example Idaho and Arizona).</p>
                <p class="edPara">As you, the voter will see there are two selected fields for Nevada. One is the
                    current
                    state of our funding over past years and another showing results if voted in would be fantastic news
                    to
                    our state.</p>
            </div>
        </div>
    </div><br>
    <div class="application">
        <div id="outer" class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <!-- Time Chart -->
                        <div class="col-sm-12">
                            <div class="chart-wrapper">
                                <div class="chart-title">
                                    Number of Donations
                                </div>
                                <div class="chart-stage">
                                    <div id="time-chart"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Time Chart -->

                        <!-- Resources -->
                        <div class="col-sm-4">
                            <div class="chart-wrapper">
                                <div class="chart-title">
                                    Resources Type
                                </div>
                                <div class="chart-stage">
                                    <div id="resource-type-row-chart"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Resources -->

                        <!-- funding Pie -->
                        <div class="col-sm-4">
                            <div class="chart-wrapper">
                                <div class="chart-title">
                                    Funding Status
                                </div>
                                <div class="chart-stage">
                                    <div id="funding-chart"></div>
                                </div>
                            </div>
                        </div>
                        <!-- funding Pie -->

                        <!-- Poverty -->
                        <div class="col-sm-4">
                            <div class="chart-wrapper">
                                <div class="chart-title">
                                    Poverty Level
                                </div>
                                <div class="chart-stage">
                                    <div id="poverty-level-row-chart"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Poverty -->
                    </div>
                </div>
                <!-- menu select -->
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Donation State
                        </div>
                        <div class="chart-stage">
                            <div id="menu-select"></div>
                        </div>
                    </div>
                </div>
                <!-- menu select -->

                <!-- Metric 1 -->
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Total Number of Donations
                        </div>
                        <div class="chart-stage">
                            <div id="number-projects-nd"></div>
                        </div>
                    </div>
                </div>
                <!-- Metric 1 -->

                <!-- Metric 2 -->
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Total Donations in USD
                        </div>
                        <div class="chart-stage">
                            <div id="total-donations-nd"></div>
                        </div>
                    </div>
                </div>
                <!-- Metric 2 -->
            </div>
        </div>
    </div>
{% endblock %}