{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="jumbotron">
                <h2>Welcome all to the <i>Silver State</i>. This campaign will truly be a masterpiece. Please enjoy what
                    this site has to offer.</h2>
            </div>
        </div>
    </div><br>
    <div class="container-fluid">
        <div class="row">
            <div class="state">
                <h2>Nevada State Quick Facts</h2>
                <p class="stateP">This beautiful state is the 36th state since the constitution was passed on 31st
                    October 1864
                    and
                    capital city is Carson city. The population is currently 2,790,136 according to information dated
                    2013.</p>
                <p class="stateP">Our flag is on a cobalt blue background in the upper left quarter is a five pointed
                    silver
                    star between two
                    sprays of sagebrush (our state flower) crossed to form a half wreath, across the top wreath is a
                    golden
                    scroll with the words
                    in black letters <i>Battle Born</i>. The name <i>Nevada</i> is beneath the star in gold letters.</p>
                <p class="stateP">Nevada has 16 counties within it and boarders states <b>Arizona</b>, <b>California</b>,
                    <b>Idaho</b>,
                    <b>Oregan</b>
                    and <b>Utah</b></p>
                <p class="stateP">Nevada's economy consists of;
                <ul class="stateLi">
                    <li>Agriculture: Cattle, Hay, Dairy, Potatoes</li>
                    <li>Industry: Tourism, Mining, Machinery, Printing, Publishing, Food processing and electric
                        equipment
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="well">William has visited many of Nevada's landmarks and these are some of his favourites</div>
    </div>
    <div class="container-fluid landmarkDiv">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 landmark">
                <h3>Las Vegas Strip</h3>
                <img src="static/images/landmark1.jpeg" alt="Las Vegas" class="img-thumbnail img-responsive">
                <p>The Las Vegas Strip is a stretch of Las Vegas Boulevard South known for its concentration of resort
                    hotels and casinos. Fifteen of the world's 25 largest hotels by room count are on the Strip, with a
                    total of over 62,000 rooms.</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 landmark">
                <h3>Hoover Damn</h3>
                <img src="static/images/landmark2.jpeg" alt="Hoover Damn" class="img-thumbnail img-responsive">
                <p>Hoover Dam is a concrete gravity-arch dam on the border between the U.S. states of Arizona and
                    Nevada.</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 landmark">
                <h3>Bellagio Hotel</h3>
                <img src="static/images/landmark3.jpeg" alt="Bellagio Hotel" class="img-thumbnail img-responsive">
                <p>Owned by MGM Mirage, the Bellagio was built on the site of the demolished Dunes hotel and casino. The
                    building was inspired by the Lake Como resort of Bellagio, Italy.</p>
            </div>
        </div>
    </div>


{% endblock %}